<nav
    class="navbar bg-primary navbar-expand-lg bg-body-primary"
    data-bs-theme="dark"
>
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><b>AppTrack</b></a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {{#if loggedIn}}
                <li class="nav-item">
                    <a class="nav-link text-white" href="/dashboard">
                        Dashboard
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="/application">
                        Application
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="/interviews">
                        Interviews
                    </a>
                </li>

                <li class="nav-item">
                    <button
                        id="logout-btn"
                        type="button"
                        class="btn btn-danger"
                    >
                        Log out
                    </button>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link text-white" href="/login">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/signup">Sign Up</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>

<script src="js/navbar.js" defer></script>
