<section class="container-fluid text-white">
    <div class="row">
        <div
            class="col-md-6 col-sm-12 bg-dark d-flex flex-column align-items-center justify-content-center"
        >
            <!-- Application Form -->
            <form id="application-form" class="card p-4 m-4 gap-4 w-100">
                <h4><b>Add an Application</b></h4>

                <div class="mb-1">
                    <label for="applicationInput" class="form-label">
                        Company
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="applicationInput"
                        value="{{ application.company }}"
                    />
                </div>

                <div class="mb-1">
                    <label for="applicationPositionInput" class="form-label">
                        Position
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="applicationPositionInput"
                        value="{{ application.position }}"
                    />
                </div>

                <div class="mb-1">
                    <label
                        for="applicationStatusInput"
                        class="form-label"
                        id="statusDropdown"
                    >
                        <select>
                            {{#select application.status}}
                            {{#unless application.status}}
                                 <option>- Select Application Status -</option>
                            {{/unless}}
                           
                            <option value="Applied">Applied</option>
                            <option value="Interview-Scheduled">
                                Interview Scheduled
                            </option>
                            <option value="Interviewed">Interviewed</option>
                            <option value="On-Hold">On Hold</option>
                            <option value="Offer-Received">
                                Offer Received
                            </option>
                            <option value="Offer-Accepted">
                                Offer Accepted
                            </option>
                            <option value="Application-Rejected">
                                Application Rejected
                            </option>
                            <option value="Offer-Rejected">
                                Offer Rejected
                            </option>
                            {{/select}}
                        </select>
                    </label>
                </div>

                <div class="mb-1">
                    <label for="applicationSettingInput" class="form-label">
                        <select>
                            <option>- Select Work Setting -</option>
                            <option value="Onsite">Onsite</option>
                            <option value="Remote">Remote</option>
                            <option value="Hybrid">Hybrid</option>
                        </select>
                    </label>
                </div>

                <div class="mb-1">
                    <label for="applicationRatingInput" class="form-label">
                        Interest Level
                    </label>
                    <br />
                    <div class="rate">
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                    </div>
                </div>

                <div class="mb-1">
                    <label for="applicationAddressInput" class="form-label">
                        Office Address (If Applicable):
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="applicationAddressInput"
                        value="{{ application.location }}"
                    />
                </div>

                <div class="mb-1">
                    <label for="applicationLinkInput" class="form-label">
                        Job Posting Link:
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="applicationLinkInput"
                    />
                </div>

                <div class="mb-1">
                    <label for="applicationNotesInput" class="form-label">
                        Additional Notes:
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="applicationNotesInput"
                    />
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div
            class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center"
        >
            <img class="m-4 w-100" src="images/AppTrack-Logo.png" alt="logo" />
        </div>
    </div>
</section>
