<section class="container-fluid">
{{!-- Applications Submitted--}}
    <div class="panel panel-default" id="applications">
    <div class="panel-heading">
        <h3 class="panel-title">Applications Submitted</h3>
    </div>
    <div class="panel-body">
        <p>24</p>
    </div>
{{!-- Interviews Scheduled --}}
    </div>
    <div class="panel panel-default" id="interviews">
    <div class="panel-heading">
        <h3 class="panel-title">Interviews Scheduled</h3>
    </div>
    <div class="panel-body">
        <p>4</p>
    </div>
{{!-- Offers Received --}}
    <div class="panel panel-default" id="offers">
    <div class="panel-heading">
        <h3 class="panel-title">Offers Received</h3>
    </div>
    <div class="panel-body">
        <p>1</p>
    </div>
</section>

<section class="container-fluid"> 
    <table class="table table-hover">
    <h3>Job Applications</h3>
    <thead class="thead-light">
        <tr>
        <th scope="col">Company</th>
        <th scope="col">Position</th>
        <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>Acme Inc.</td>
        <td>Temp Marketing Associate</td>
        <td><span class="badge badge-pill badge-primary">Applied</span></td>
        </tr>
        <tr>
        <td>Google</td>
        <td>Senior Marketing Manager</td>
        <td><span class="badge badge-pill badge-success">Offer Received</span></td>
        </tr>
        <tr>
        <td>Microsoft</td>
        <td>Marketing Director</td>
        <td><span class="badge badge-pill badge-danger">Rejected</span></td>
        </tr>
    </tbody>
    </table>
</section>