<section>
    <h1>Welcome to AppTrack!</h1>

    <h3>Streamline your job serach and keep track of all your applications in one place</h3>

    <button>Get Started</button>
    <button>Learn More</button>
</section>

<section>
    <section>
        <h2>About AppTracker</h2>
        <p>About AppTracker Details</p>
    </section>

    <section>
        <h2>Key Features</h2>
        <p>Key Features Details</p>
    </section>
</section>

<section>
    <h2>Trusted by Job Seekers</h2>
    <p>AppTracker has helped thousands of job seekers like you land their dream jobs!</p>
</section>

