<section class="container text-center">
    <div class="row">
        <div class="col">
            <h1>Welcome to AppTrack!</h1>
            <h3>Streamline your job search and keep track of all your applications in one place</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary">Get Started</button>
            <button class="btn btn-secondary">Learn More</button>
        </div>
    </div>
</section>

<section class = "d-flex">
    <div class = "container text-center">
        <h2>About AppTracker</h2>
        <p>About AppTracker Details</p>
    </div>

    <div class = "container text-center">
        <h2>Key Features</h2>
        <p>Key Features Details</p>
    </div>
</section>

<section class = "container text-center">
    <div>
        <h2>Trusted by Job Seekers</h2>
    </div>

    <p>AppTracker has helped thousands of job seekers like you land their dream jobs!</p>
</section>

