<section class="custom-bg-gradient py-5">
    <section class="container text-center py-4 text-white">
        <div class="row">
            <div class="col">
                <h1>Welcome to AppTrack!</h1>
                <h4>
                    Navigating the job market can be challenging. With AppTrack,
                    it's simple.
                </h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <a
                    href="/login"
                    class="btn btn-primary bg-dark text-light mr-2"
                >
                    Get Started
                </a>
                <a href="#about" class="btn btn-secondary bg-light text-dark">
                    Learn More
                </a>
            </div>
        </div>
    </section>
</section>

<section class="bg-gradient bg-light d-flex flex-column flex-md-row py-5">
    <div id="about" class="container text-center mb-5 mb-md-0 py-5">
        <h2>About AppTrack</h2>
        <p>
            Whether you are looking for your first job or seeking a career
            change, AppTrack provides the tools and resources you need to stay
            on top of your job hunt. From tracking job applications and managing
            interview schedules to monitoring offers and setting reminders,
            AppTrack ensures that you never miss an opportunity.
        </p>
    </div>
    <div class="container py-5">
        <h2 class="font-weight-bold text-center">Key Features</h2>
        <ul class="list-unstyled d-flex flex-column align-items-center">
            <li>✔ Track all your job applications</li>
            <li>✔ Monitor interviews schedules and status</li>
            <li>✔ Manage offers and negotiations</li>
            <li>✔ Receive alerts and reminders</li>
        </ul>
    </div>
</section>

<section class="custom-bg-gradient flipped py-5">
    <section class="container text-center py-5 text-white">
        <div class="font-weight-bold">
            <h2>Trusted by Job Seekers</h2>
        </div>
        <p>
            AppTrack has helped thousands of job seekers like you land their
            dream jobs!
        </p>
    </section>
</section>
