<section class="container-fluid text-white">
    <div class="row">
        <div
            class="col-md-6 col-sm-12 bg-dark d-flex flex-column align-items-center justify-content-center"
        >
            <!-- Application Form -->
            <form id="interview-form" class="card p-4 m-4 gap-4 w-100">
                <h4><b>Add an Interview</b></h4>

                <div class = "mb-1">
                    <label for="interviewPositionInput" class="form-label">
                        Job Position:
                    </label>
                    <input
                        type="password"
                        class="form-control"
                        id="interviewPositionInput"
                    />
                </div>


                <div class="mb-1">
                    <label for="interviewTimeInput" class="form-label">
                        Interview Time
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="interviewTimeInput"
                    />
                </div>

                <div class = "mb-1">
                    <label for "interviewDateInput" class = "form-label">
                        Interview Date:
                    </label>
                    <input class="form-control" id="task-due"></input>
                </div>

                <div>
                    <label for="interviewLocationInput" class="form-label">
                        Interview Location
                    </label>
                    <input
                        type="password"
                        class="form-control"
                        id="interviewLocationInput"
                    />
                </div>

                <div class="mb-1">
                    <label for="interviewVideoLinkInput" class="form-label">
                        Video Link:
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="interviewVideoLinkInput"
                    />
                </div>

                <div class="mb-1">
                    <label for="interviewLinkInput" class="form-label">
                        Interviewer Link:
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="interviewLinkInput"
                    />
                </div>

                <div class="mb-1">
                    <label for="interviewNotesInput" class="form-label">
                        Additional Notes:
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="interviewNotesInput"
                    />
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>

{{!-- LEFT SIDE FULL CALENDAR --}}
        <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
            <div id='calendar'></div>
        </div>
    </div>
</section>

<script src="js/calendar.js"></script>
