<section class="container-fluid">
        <div class="card border p-4 m-4">
            <div class="row align-items-start border-bottom">
                {{!-- Header - Company & Position Section --}}
                <div class="d-flex mb-3">
                    <div class="me-auto p-2">
                        <h3><b>Senior Marketing Director, Google</b></h3>
                    </div>
                    <div class="me-auto p-2">
                        <h3><b>status pill</b></h3>
                    </div>
                    <div class="p-2">                
                        <h3><b>edit icon</b></h3>
                    </div>
                    <div class="p-2">                
                        <h3><b>delete icon</b></h3>
                    </div>
                </div>
            </div>
            <div class="row align-items-start border-bottom">
                {{!-- Job Posting Section --}}
                <div class="row justify-content-between">
                    <div class="col-6">
                        <h3><b>Job Posting: add link</b></h3>
                    </div>
                    <div class="col-4">
                        <h3><b>Interest Level: stars</b></h3>
                    </div>
                </div>
            </div>
            <div class="row align-items-start border-bottom">
                {{!-- Location Section --}}
                <div class="row justify-content-start">
                    <div class="col">
                        <h3><b>Location: an address formatted</b></h3>
                    </div>
                    <div class="col">
                        <h3><b>work site pill </b></h3>
                    </div>
                </div>
            </div>
            <div class="border-bottom">
                {{!-- Date Applied Section --}}
                <h3><b>Date Applied: </b></h3>
            </div>
            <div class="border-bottom">
                {{!-- Notes Section --}}
                <h3><b>Notes: </b></h3>
            </div>
        </div>
</section>