:root {
    --primary: rgb(191, 195, 204);
    --secondary: #120808;
    --tertiary: #a7a7a7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}


/* Font sizes for homepage */

h1 {
    font-size: 75px;
    font-weight: bold;
    margin-top: 75px;
    margin-bottom: 25px;
}

h2 {
    font-size: 55px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}

h4 {
    margin-bottom: 30px;
}

.fade-bg {
    background-color: var(--tertiary);
    
}

/* end of the homepage design */

/* star rating design css  */

.card {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
  }