:root {
    --primary: rgb(191, 195, 204);
    --secondary: #120808;
    --tertiary: #a7a7a7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

a:hover {
    cursor: pointer;
}

/* Font sizes for homepage */

h1 {
    font-size: 75px;
    font-weight: bold;
    margin-top: 75px;
    margin-bottom: 25px;
}

h2 {
    font-size: 55px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}

.fade-bg {
    background-color: var(--tertiary);
}

/* end of the homepage design */

a {
    color: black;
}

/* star rating design css  */

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
